---
import Layout from "../../layouts/Layout.astro";
---
<Layout>
    <h1>More secrets</h1>
    <p>You should only be able to see this page if you are in fact, signed in.</p>
    <a href="/protected/dashboard">Back to dashboard</a>
</Layout>