---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Index">
	<h1>Welcome</h1>
	<p>Already have an account? <a href="/signin">Login</a></p>
	<p>Go to <a href="/register">register</a>.</p>
</Layout>